*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

.header {
  text-align: center;
}

.dashboardRow {
  padding: 1.25rem;
  display: flex;
}

.widget {
  padding: 1.25rem;
  background: #F8DFF2;
  border-radius: 0.3125rem;
}

.widget {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  border-radius: 0.3125rem;
}

.widget:not(:last-child) {
  margin-right: 1.25rem;
}

.widget:nth-child(3n+1) {
  background: #F8DFF2;
}

.widget:nth-child(3n+2) {
  background: #EEE3FF;
}

.widget:nth-child(3n+3) {
  background: #CBBBE2;
}

.widget ul {
  padding: 0;
  list-style: none;
}

.widget li:not(:last-child) {
  margin-bottom: 0.625rem;
}

.tabs {
  margin-bottom: 1.25rem;
}

.tabs button {
  padding: 0.3125rem 0.625rem;
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
}

.tabs button.activeTab {
  background: #CBBBE2;
}

.subjectStatus {
  font-weight: 700;
}

.approvedAssignment {
  text-decoration: line-through;
}

img {
  max-width: 100%;
}

.yesOrNoForm {
  margin-top: 1.25rem;
  width: 100%;
  text-align: center;
}

.yesOrNoForm label {
  display: block;
  margin-bottom: 0.625rem;
}

.yesOrNoForm input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.1875rem;
  font-size: 1rem;
  outline: none;
}
